.selected-list-item {
    background-color: rgb(231, 237, 248);
}

.file-size {
    direction: ltr;
    text-align: right;
}

.file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    direction: ltr;
    max-width: 500px;
}

.v-data-table {
    background-color: transparent !important;
    min-height: calc(100vh - 320px);
}

.theme--light.v-data-table thead tr th {
    font-size: 17px !important;
    font-family: Assistant-Light;
    height: 70px !important;
    font-weight: 500;
    color: #2c3448 !important;
}

.v-data-table td {
    font-size: 17px !important;
    font-family: Assistant-Light;
    font-weight: 500;
    color: #2c3448 !important;
    height: 70px !important;
}

.theme--light.v-data-table thead tr:last-child th {
    border-bottom: rgb(213, 221, 235) 1px solid !important;
}

.theme--light.v-data-table tbody tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background-color: rgb(213, 221, 235) !important;
}