@font-face {
  font-family: Assistant;
  src: url("../assets/fonts/Assistant/Assistant-Regular.ttf");
}

@font-face {
  font-family: Assistant-light;
  src: url("../assets/fonts/Assistant/Assistant-Light.ttf");
}

@font-face {
  font-family: Assistant-Bold;
  src: url("../assets/fonts/Assistant/Assistant-Bold.ttf");
}

@font-face {
  font-family: Assistant-ExtraBold;
  src: url("../assets/fonts/Assistant/Assistant-ExtraBold.ttf");
}

html {
  font-family: sans-serif;
  overflow: auto !important;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  display: flex;
  color: #2c3448 !important;
}

.v-application {
  margin: 0;
  direction: rtl !important;
  background-color: #f0f3f8 !important;
  font-family: Assistant !important;
}

.v-toolbar__content {
  padding: 0 !important;
}

.v-application p {
  margin-bottom: 0 !important;
}

.v-application--is-rtl .v-list-item__action:first-child,
.v-application--is-rtl .v-list-item__icon:first-child {
  margin-left: 7px !important;
}

.v-list--nav .v-list-item:not(:last-child):not(:only-child),
.v-list--rounded .v-list-item:not(:last-child):not(:only-child) {
  margin-bottom: 0 !important;
}

.v-btn:not(.v-btn--round).v-size--default {
  width: 100%;
}

.v-step {
  background: #035c64 !important;
  box-shadow: 0px 30px 38px 0 rgba(53, 126, 111, 0.42) !important;
}

.auto-margin {
  margin: auto;
  display: block;
}

.button-text {
  color: #f0f4f7;
  padding-right: 5px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.ltr {
  direction: ltr;
}

.pointer {
  cursor: pointer;
}

.v-label {
  text-align: right !important;
  padding-right: 5px;
}

.popup-text {
  font-size: 18px;
  padding-bottom: 15px;
}

.page-container {
  padding: 70px 70px 20px 70px;
  display: block;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-right {
  margin: 0 13px 0 0;
}

.space-left {
  margin-left: 7px;
}

.space {
  margin: 0 3px;
}

.top-space {
  margin-top: 10px;
}

.fab-icon {
  width: 18px;
  height: 18px;
  font-size: 50px;
}

.popup-icon {
  width: 70px;
  padding: 60px 0 15px;
}

.d-title {
  font-size: 34px !important;
  color: #353446;
  text-align: center;
  padding-bottom: 20px;
}

.d-subtitle {
  font-size: 22px;
  padding-bottom: 20px;
  color: #353446;
}

.select-container {
  width: 150px;
}

.share-icon {
  width: 40px;
  height: 40px;
  margin: auto 25px auto 10px;
  font-size: 25px;
  background-color: #007a99;
  border-radius: 50%;
}

.share-title {
  font-size: 26px;
  color: #353446;
}

.share-title {
  font-size: 26px;
  color: #353446;
}

.share-header {
  height: 80px;
  line-height: 80px;
}

.popup {
  border-radius: 10px;
  position: relative;
}

.popup-header {
  background-color: #ffffff;
  width: 100%;
}

.popup-body {
  background-color: #f0f4f7;
  width: 100%;
  padding: 30px 60px;
}

.popup-confirm {
  padding: 0;
  flex-direction: row-reverse;
}

.v-snack__content {
  direction: rtl !important;
  justify-content: right !important;
}

.right {
  justify-content: right;
}

.v-select.v-select--is-menu-active .v-input__icon--append .v-icon {
  transform: rotate(0);
}

.align-center {
  text-align: center;
}

.bold {
  font-family: Assistant-Bold;
}
